.stage-1{
  @media #{$max-mobile-width}{
    padding-bottom: 6px;
  }
  @media #{$min-tablet-width} {
    margin-top: 28px;
    padding-bottom: 63px;
  }
  @media #{$min-desktop-width} {
    margin-top: 0px;
    padding-bottom: 105px;
  }
}
.stage-1__title {
  text-align: center;
  font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 1.6rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.6rem;
  }
  @media #{$min-desktop-width} {
    font-size: 2.6rem;
    margin-bottom: 0;
  }
}
.stage-1__list {
  padding-left: 0;
  @media #{$max-mobile-width} {
    margin-top: 45px;
  }
  @media #{$min-tablet-width} {
    width: 739px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include centers;
  }
  @media #{$min-desktop-width} {
    width: 1272px;
    margin-top: 14px;
  }
}
.stage-1__item {
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  @media #{$max-mobile-width} {
    margin-top: 7px;
  }
  @media #{$min-tablet-width} {
    width: 320px;
    margin-top: 14px;
  }
  @media #{$min-desktop-width} {
    width: 556px;
    margin-top: 25px;
  }
}
.stage-1__item-title {
  position: relative;
  display: inline;
  box-sizing: border-box;
  font-weight: 300;
  @media #{$max-mobile-width} {
    font-size: 1.4rem;
    padding-left: 19px;
  }
  @media #{$min-tablet-width} {
    padding-left: 19px;
    font-size: 1.3rem;
  }
  @media #{$min-desktop-width} {
    padding-left: 28px;
    font-size: 1.6rem;
  }
}
.stage-1__item-title::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  border: 1px solid $radio-border-color;
  background: #f6f6f6;
  border-radius: 50%;
  left: 0;
  top: 50%;
  @media #{$max-mobile-width} {
    width: 17px;
    height: 17px;
    transform: translateY(-8px);
  }
  @media #{$min-tablet-width} {
    width: 13px;
    height: 13px;
    transform: translateY(-7px);
  }
  @media #{$min-desktop-width} {
    width: 17px;
    height: 17px;
    transform: translateY(-8px);
  }
}
.stage-1__adaptive-txt {
  @media #{$min-tablet-width} {
    display: none;
  }
  @media #{$min-desktop-width} {
    display: inline;
  }
}
.stage-1__adaptive-txt-2 {
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-desktop-width} {
    display: none;
  }
}
.stage-1__label {
  cursor: pointer;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    padding-top: 18px;
    padding-bottom: 23px;
    padding-left: 7px;
    padding-right: 7px;
  }
  @media #{$min-tablet-width} {
    padding-top: 13px;
    padding-bottom: 18px;
  }
  @media #{$min-desktop-width} {
    padding-top: 26px;
    padding-bottom: 32px;
  }
}
#stage-1-radio-1:checked ~ .stage-1__label--1 .stage-1__item-title::before,
#stage-1-radio-2:checked ~ .stage-1__label--2 .stage-1__item-title::before,
#stage-1-radio-3:checked ~ .stage-1__label--3 .stage-1__item-title::before,
#stage-1-radio-4:checked ~ .stage-1__label--4 .stage-1__item-title::before,
#stage-1-radio-5:checked ~ .stage-1__label--5 .stage-1__item-title::before,
#stage-1-radio-6:checked ~ .stage-1__label--6 .stage-1__item-title::before {
  border: 1px solid $radio-border-color--active;
  background: rgb(255,255,255);
  background: url("../img/radio--active.svg"), -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
  background: url("../img/radio--active.svg"), -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
  background: url("../img/radio--active.svg"), linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-position: center, center;
  @media #{$max-mobile-width} {
    background-size: 8px 6px, 100% 100%;
  }
  @media #{$min-tablet-width} {
    background-size: 7px 5px, 100% 100%;
  }
  @media #{$min-desktop-width} {
    background-size: 9px 7px, 100% 100%;
  }
}
.stage-1__item-img-field {
  @include centers;
  @media #{$max-mobile-width} {
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
  }
  @media #{$min-tablet-width} {
    width: 145px;
    margin-top: 13px;
  }
  @media #{$min-desktop-width} {
    width: 247px;
    margin-top: 26px;
  }
}
.stage-1__nav {
  position: relative;
  @include centers;
  @media #{$max-mobile-width} {
    margin-top: 57px;
  }
  @media #{$min-tablet-width} {
    width: 739px;
    margin-top: 20px;
  }
  @media #{$min-desktop-width} {
    width: 1272px;
    margin-top: 30px;
  }
}
.stage-1__btn-next-field {
  text-align: center;
  @media #{$max-mobile-width} {
    margin-bottom: 50px;
  }
}
.stage-1__btn-next-txt {
  position: relative;
  @media #{$max-mobile-width} {
    padding-right: 49px;
  }
  @media #{$min-tablet-width} {
    padding-right: 35px;
  }
  @media #{$min-desktop-width} {
    padding-right: 43px;
  }
}
.stage-1__btn-prev {
  @media #{$max-mobile-width} {
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$min-tablet-width} {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-6px);
  }
  @media #{$min-desktop-width} {
    transform: translateY(-7px);
    left: 20px;
  }
}